/*This is some come you can always have*/

body {
    background-image: url('http://wallpoper.com/images/00/30/34/11/gaussian-blur_00303411.jpg');

    font-family: 'Open Sans', 'Helvetica Neue';
    font-size: 87.5%;
    /*Base font size is 14px */
    line-height: 1.5;
}

/*End of useful code*/

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(198, 6, 81);
}
a:hover, a:active {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(198, 6, 81);
}
.body {
    /*Makes this 70% of total screen size, so it doesn't use all the screen*/
    clear: both;
    /*Makes everything centered*/

    width: 70%;
    margin: 0 auto;
    /*You should always use clear:both*/
}

/*Self made code starts here*/

.aboutheader nav {
    height: 40px;

    border-radius: 5px;
    background-color: #666;
}
.aboutheader nav ul {
    margin: 0 auto;
    /*This sets the nav bar clamped to the top of the browser*/

    list-style: none;
}
.aboutheader nav ul li {
    display: inline;
    float: right;
}
.aboutheader nav a:link, .aboutheader nav a:visited {
    display: inline-block;

    height: 20px;
    padding: 10px 25px;

    color: #fff;
}
.aboutheader nav a:active, .aboutheader nav a:hover {
    background-color: #d71147;
    text-shadow: none;
}

/*Self-made code ends here*/

}

/*Watch out for this code, pretty useful & important*/

.mainheader img {
    width: 30%;
    height: auto;
    margin: 2% 0;
    display: block;
    /*Makes the image start a little bit below from above*/
}

/*Watch out for this code, pretty useful & important*/


/*From a class we can also access other elements, like the mainheader nav*/

.mainheader nav {
    height: 40px;

    -webkit-border-radius: 5px;
    /*Round corners!*/
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #666;
}

/*Watch out for this code, pretty useful & important*/

.mainheader nav ul {
    margin: 0 auto;

    list-style: none;
}

/*Watch out for this code, pretty useful & important*/

.mainheader nav ul li {
    /*push each element to the left*/
    display: inline;
    float: left;
}
.mainheader nav a:link, .mainheader nav a:visited {
    display: inline-block;
    /*IMPORTANT CODE PART- Makes the nav text go centered in the nav box*/
    /*10px 25px means 10 top-bottom 25 left-right*/

    height: 20px;
    padding: 10px 25px;

    color: #fff;
}
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
    background-color: #d71147;
    text-shadow: none;
}
.mainheader nav ul li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.mainContent {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    line-height: 20px;
}
.content {
    float: left;

    width: 70%;
    /*70% OF THE BODY CONTENT, NOT PAGE CONTENT*/
    margin-top: 2%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.topcontent {
    margin-top: 2%;
    padding: 3% 5%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.bottomcontent {
    margin-top: 2%;
    padding: 3% 5%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.postInfo {
    color: #999;

    font-size: 90%;
    font-style: italic;
}
.top-sidebar {
    /*21% because the 70% width of articles + the 3% padding on top&bottom content + the 3% padding to the right */
    float: left;

    width: 21%;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;

    border-radius: 5px;
    background-color: #fff;
}
.middle-sidebar {
    float: left;

    width: 21%;
    margin: 2% 0 2% 3%;
    /*values are clockwise: top, right, bottom, left*/
    padding: 2% 3%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.bottom-sidebar {
    float: left;

    width: 21%;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.main-footer {
    float: left;

    width: 100%;
    height: 40px;
    margin-top: 2%;

    border-radius: 5px;
    background-color: #666;
}
.main-footer p {
    width: 92%;
    margin: 10px auto;

    color: #fff;
}

/*This makes the page responsive*/

@media only screen and (min-width: 150px) and (max-width: 600px) {
    .body {
        width: 90%;
        /*Makes this 70% of total screen size, so it doesn't use all the screen*/

        font-size: 95%;
    }
    /*TODO: Come back and center the text of the selfmade navbar on top*/
    .aboutheader nav ul li {
        display: inline;
        float: center;
    }
    .mainheader img {
        width: 100%;
    }
    .mainheader nav {
        height: 160px;
    }
    /*Watch out for this code, pretty useful & important*/
    .mainheader nav ul {
        padding-left: 0;
    }
    /*Watch out for this code, pretty useful & important*/
    .mainheader nav ul li {
        width: 100%;

        text-align: center;
    }
    .mainheader nav a:link, .mainheader nav a:visited {
        display: block;

        height: 20px;
        padding: 10px 25px;
    }
    .content {
        /*70% OF THE BODY CONTENT, NOT PAGE CONTENT*/
        float: left;

        width: 100%;
        margin-top: 2%;
    }
    .postInfo {
        display: none;
    }
    .topcontent {
        margin-top: 2px;
        margin-bottom: 3%;
        padding: 3% 5%;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
    }
    .bottomcontent {
        margin-top: 3%;
        padding: 3% 5%;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff;
    }
    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        /*21% because the 70% width of articles + the 3% padding on top&bottom content + the 3% padding to the right */
        float: left;

        width: 94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;

        border-radius: 5px;
        background-color: #fff;
    }
}
